@import"//hello.myfonts.net/count/3cb740";

:root {
  --color-bkgd-light: hsl(40, 0%, 100%);
  --color-bkgd: hsl(40, 18%, 93%);
  --color-bkgd-mid: hsl(40, 20%, 90%);
  --color-text-dark: hsl(210, 10%, 10%);
  --color-text: hsl(210, 23%, 27%);
  --color-text-mid: hsl(210, 16%, 30%);
  --color-text-light: hsl(210, 20%, 50%);
  --color-text-invert: hsl(40, 0%, 100%);
  --color-contact: hsl(48, 100%, 49%);
  --color-hicks: hsl(45, 95%, 40%);
  --color-border: hsla(210, 15%, 10%, 0.2)
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  background-repeat: no-repeat
}

html {
  font-size: calc(100% + 0.15vw);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth
}

@font-face {
  font-family: "TTNormsProVarRoman";
  font-weight: 400 700;
  src: url("../webfonts/TTNormsProVarRoman/TT-Norms-Roman-Hicksdesign.woff2") format("woff2"), url("../webfonts/TTNormsProVarRoman/TT-Norms-Roman-Hicksdesign.woff") format("woff")
}

@font-face {
  font-family: "TTNormsProVarItalic";
  font-weight: 400 700;
  src: url("../webfonts/TTNormsProVarItalic/TT-Norms-Italic-Hicksdesign.woff2") format("woff2"), url("../webfonts/TTNormsProVarItalic/TT-Norms-Italic-Hicksdesign.woff") format("woff")
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("../webfonts/JetBrainsMono/JetBrainsMono-Regular.woff2") format("woff2"), url("../webfonts/JetBrainsMono/JetBrainsMono-Regular.woff") format("woff")
}

body,
input,
button {
  font-family: TTNormsProVarRoman, sans-serif;
  font-weight: 450
}

body {
  background-color: var(--color-bkgd);
  font-size: 1rem;
  position: relative;
  line-height: 1.6875rem;
  color: var(--color-text)
}

:focus:not(:focus-visible) {
  outline: none
}

*+* {
  margin-top: 1.6875rem
}

article li+li,
audio,
br,
nav,
nav ul,
nav li,
.meta li,
fieldset>*,
footer p,
section,
.posted,
h3+p,
.archives h1,
h4+p,
.caption,
figcaption,
cite,
.article-thumb,
.article-thumb h3,
input,
.instagram li,
.instagram li>*,
.bookplug p,
.plugs>*,
.adr,
.journal-footer>*,
.covers .grid>*+* {
  margin-top: 0
}

a {
  color: inherit;
  text-decoration-thickness: 1px;
  text-underline-offset: .15em;
  text-decoration-color: var(--color-hicks);
  transition: all .2s ease-in-out
}

a:hover {
  color: var(--color-text-dark);
  opacity: 1;
  text-decoration-color: inherit
}

nav a,
h2.list-head a,
.socials a,
.backanforth a,
.article-thumbs a,
.bookplug a {
  text-decoration: none
}

a,
p.posted,
.org {
  font-family: TTNormsProVarRoman, sans-serif;
  font-weight: 600
}

h1,
h2,
h2 a,
h3,
h4,
h4,
strong,
.logo,
.meta span,
cite,
.backanforth a span,
nav a.active {
  font-family: TTNormsProVarRoman, sans-serif;
  font-weight: 700
}

cite,
.caption,
figcaption {
  font-weight: 400;
  text-align: center;
  font-size: .875rem;
  line-height: 1.5;
  margin-top: .84375rem
}

em {
  font-family: TTNormsProVarItalic, sans-serif;
  font-weight: 450;
  font-style: normal
}

time {
  font-variant-numeric: tabular-nums
}

h1 em,
h2 em,
h3 em,
h4 em {
  font-weight: 700
}

h1 {
  font-size: 1.848rem;
  letter-spacing: -0.05rem;
  line-height: 1;
  margin-bottom: 1.6875rem;
  color: var(--color-text)
}

h1.large {
  font-size: 2.848em;
  letter-spacing: -0.1rem
}

h1:after {
  content: "";
  width: 1.6875rem;
  height: 2px;
  background: var(--color-text-light);
  display: block;
  margin: 1.6875rem 0 0 0
}

h2,
.posted,
.archives h3 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1rem
}

h2.list-head {
  text-transform: none;
  letter-spacing: 0;
  font-size: 1.6875rem
}

h2.list-head:after {
  height: 0;
  margin: 0
}

#work h2:after {
  content: "";
  width: 1.6875rem;
  height: 2px;
  background: var(--color-text-light);
  display: block;
  margin: .84375rem 0 0 0
}

.invert h1:after,
.invert h2:after,
#work .invert h2:after {
  background: var(--color-bkgd-light)
}

p.posted {
  font-size: .875rem
}

*+h2 {
  margin-top: 3.37rem
}

h3 {
  font-size: 1.18rem
}

h4 {
  font-size: 1rem
}

.macy h3 {
  line-height: 1.2;
  letter-spacing: -0.015rem
}

fieldset {
  border: none;
  display: flex;
  align-items: center
}

fieldset>* {
  line-height: 3.375rem;
  vertical-align: top;
  border: 0
}

input,
button {
  font-size: 1rem;
  border-radius: 8px;
  line-height: 1.6875rem
}

button {
  padding: 0 1rem;
  background: var(--color-hicks);
  color: var(--color-text-invert);
  border: 0;
  cursor: pointer
}

a.button {
  text-decoration: none;
  padding: 0 1rem;
  display: inline-block;
  background: var(--color-hicks);
  color: var(--color-text-invert);
  border: 0;
  border-radius: 8px;
  line-height: 2.53125rem;
  transform: translateY(0)
}

a.button:hover,
a.button:focus {
  text-decoration: none;
  background-color: var(--color-text-mid);
  color: var(--color-text-invert);
  transform: translateY(-0.15rem);
  box-shadow: 0 3px 9px var(--color-border)
}

label {
  margin-right: 1rem
}

.search input[type=search] {
  padding: 0 .5rem;
  color: var(--color-text);
  background-color: var(--color-bkgd-light);
  border-radius: 8px 0 0 8px;
  flex: 1;
  line-height: 2.53125rem
}

.search button {
  border-radius: 0 8px 8px 0;
  margin-left: -0.5rem;
  line-height: 2.53125rem
}

.search button svg {
  vertical-align: middle;
  fill: var(--color-bkgd-light);
  height: 1.3rem;
  width: 1.3rem
}

blockquote {
  border-left: 4px solid orange;
  padding-left: 1.2rem;
  margin-left: -1.2rem;
  font-family: TTNormsProVarItalic, sans-serif
}

blockquote p {
  font-weight: 550
}

code {
  font-family: "JetBrainsMono", monospace;
  border-radius: 2px;
  padding: .25rem .5rem;
  background: var(--color-bkgd-mid)
}

pre {
  border-radius: 4px;
  background: var(--color-bkgd-mid);
  padding: 1rem;
  overflow: auto
}

pre code {
  background: none;
  padding: 0
}

hr {
  height: 1px;
  border: 0;
  background: var(--color-border)
}

.cen {
  text-align: center
}

@media screen and (max-width: 900px) {
  body {
    padding-top: 3.375rem
  }
}

.min {
  min-height: calc(100vh - 15rem)
}

img {
  max-width: 100%
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: .421875rem 2rem;
  z-index: 10;
  background: var(--color-bkgd-light);
  display: flex;
  justify-content: space-between
}

.logo {
  z-index: 100;
  margin: .5rem 3rem 0 -5px
}

.logo a {
  display: block
}

html:not(#work) .logo .swirl {
  fill: var(--color-hicks)
}

html:not(#work) .logo .logotype {
  fill: var(--color-text)
}

.logo svg {
  height: 1.5rem;
  width: auto;
  fill: currentColor
}

@media screen and (min-width: 900px)and (min-height: 400px) {
  .logo-archive a {
    height: 4rem;
    width: 12rem;
    margin-top: -0.5rem;
    display: block;
    background-repeat: no-repeat;
    transition: background-image .2s ease-in-out;
    background-size: contain;
    background-image: url(/assets/logo/history/hicks-2017.svg)
  }

  .logo-archive svg {
    display: none
  }

  .logo.year-2016 a,
  .logo.year-2015 a {
    background-image: url(/assets/logo/history/hicks-2015.svg)
  }

  .logo.year-2014 a,
  .logo.year-2013 a,
  .logo.year-2012 a {
    background-image: url(/assets/logo/history/hicks-2012.svg)
  }

  .logo.year-2011 a,
  .logo.year-2010 a,
  .logo.year-2009 a,
  .logo.year-2008 a {
    background-image: url(/assets/logo/history/hicks-2008.svg)
  }

  .logo.year-2007 a,
  .logo.year-2006 a {
    background-image: url(/assets/logo/history/hicks-2006.svg)
  }

  .logo.year-2005 a,
  .logo.year-2004 a {
    background-image: url(/assets/logo/history/hicks-2004.svg)
  }

  .logo.year-2003 a,
  .logo.year-2002 a {
    background-image: url(/assets/logo/history/hicks-2002.svg)
  }

  .logo.year-2001 a {
    background-image: url(/assets/logo/history/hicks-2001.svg)
  }
}

.icon {
  vertical-align: text-bottom
}

header>nav {
  text-transform: uppercase;
  letter-spacing: .175rem;
  font-size: .875rem;
  margin-top: .2rem
}

.menu-icon,
#menu-toggle {
  display: none
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap
}

.logo a,
nav a {
  display: block;
  border: none;
  position: relative
}

.nav-el a,
.nav-el p,
.nav-el svg {
  transition: color 80ms ease-in-out
}

section.invert a,
.invert .description {
  color: var(--color-text-invert)
}

nav li+li {
  margin-left: 2rem
}

nav a {
  display: inline-block;
  opacity: .7
}

nav a.active:before,
#work nav a.n-work:before,
#troika nav a.n-journal:before {
  content: "";
  width: .25rem;
  height: .25rem;
  border: 3px solid var(--color-hicks);
  position: absolute;
  left: -0.75rem;
  border-radius: 50%
}

section {
  width: 100%;
  background-size: contain;
  background-position: center center
}

.inner,
.inner {
  padding: 3.375rem 2rem
}

.inner.top {
  padding-bottom: 0
}

.inner.top .description {
  order: -1;
  margin-top: .33rem
}

.inner.center {
  justify-content: center
}

footer {
  padding: 3rem;
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: 1px
}

.socials a {
  display: inline-block;
  padding: .25rem
}

.socials svg {
  fill: currentColor;
  opacity: .4;
  transition: all .2s ease-in-out
}

.socials svg:hover {
  opacity: 1
}

.socials svg.twitter:hover {
  fill: #55acee
}

.socials svg.instagram:hover {
  fill: #f28d4c
}

.socials svg.kirby:hover {
  fill: var(--color-text-dark)
}

.flex {
  display: flex;
  align-items: center
}

.flex.sb {
  justify-content: space-between
}

.flex>*+* {
  margin-top: 0;
  margin-left: .5rem
}

.app-icons {
  align-items: flex-start
}

.app-icons>* {
  padding: 0 1rem
}

.app-icons img {
  border-radius: 10%
}

ul.flex {
  list-style-type: none
}

.flex-grid {
  column-count: 1;
  column-gap: 0px;
  line-height: 0;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid
}

.centered .inner>.flex-grid {
  max-width: 100%
}

.flex-grid figure {
  width: 100%;
  height: auto;
  margin: 0
}

.flex-grid img {
  width: 100%;
  height: auto
}

@media screen and (min-width: 620px) {
  .flex-grid {
    column-count: 2
  }
}

@media screen and (min-width: 1024px) {
  .flex-grid {
    column-count: 3
  }
}

.grid,
.instagram ul {
  display: grid;
  grid-gap: 3.375rem
}

.instagram ul {
  list-style-type: none;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr))
}

.grid:after {
  content: "";
  clear: both;
  display: table
}

.grid>* {
  width: 50%;
  padding: 0 1rem 1rem 0;
  float: left
}

@supports(display: grid) {

  .grid>*,
  .instagram ul>* {
    width: auto;
    padding: 0
  }

  .grid>*+* {
    margin-top: 0
  }

  .grid:after {
    display: none
  }

  #contact .grid {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr))
  }
}

.centered .inner>* {
  width: 100%;
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto
}

.centered .inner img,
.centered .inner>.video {
  max-width: 100%;
  height: auto;
  display: block
}

iframe {
  display: block
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  z-index: 1
}

.video iframe,
.video object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.centered .inner img.icon {
  display: inline-block
}

.centered .inner p.img,
.centered .inner figure:not(.max):not(.cover),
.centered .inner .instagram {
  max-width: none;
  margin-left: 0;
  margin-right: 0
}

.centered .inner p.img img,
.centered .inner figure img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto
}

@media screen and (min-width: 600px) {
  .centered figure.fr {
    height: auto;
    margin: 0 auto;
    max-width: 35rem
  }

  .centered figure.fr+p {
    margin-top: .84375rem
  }

  .centered figure.fr img {
    float: right;
    margin: 0 0 3.375rem 1.6875rem;
    max-width: 20rem;
    transform: translateY(1.1875rem)
  }

  .centered figure.cover {
    max-width: 40rem
  }

  .centered figure.cover img {
    max-width: 10rem
  }
}

.fl {
  float: left;
  height: auto;
  margin: .84375rem 1.6875rem .84375rem 0
}

.meta {
  list-style-type: none
}

.tags {
  display: flex
}

.meta span {
  width: 7rem;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: .15rem;
  font-size: .75rem
}

.tagged {
  list-style-type: none;
  margin-top: 0
}

.tagged li {
  display: inline-block
}

.tagged li+li {
  margin-left: .5rem
}

.tagged li+li:before {
  content: "/";
  margin-left: -0.25rem
}

.twitter {
  margin-top: .84375rem
}

.twitter img {
  height: 1rem;
  width: auto;
  vertical-align: -10%
}

.backanforth {
  border-top: 1px solid var(--color-border);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}

.backanforth div {
  margin-top: 0
}

.backanforth>* {
  flex: 1 0 50%;
  max-width: 50%
}

.backanforth a {
  padding: 1.6875rem 2rem;
  text-align: center;
  display: flex;
  align-items: center
}

.backanforth a:hover {
  background-color: var(--color-bkgd-mid)
}

.backanforth a:hover svg {
  color: var(--color-text-dark);
  transition: color .2s ease-out
}

.backanforth a div {
  flex: 1
}

.backanforth a span {
  letter-spacing: .15rem;
  font-size: .75rem;
  text-transform: uppercase;
  display: block;
  margin-top: 0;
  flex: 1
}

.backanforth a svg {
  width: 32px;
  height: 32px;
  color: var(--color-hicks)
}

.previous+.next a {
  border-left: 1px solid var(--color-border)
}

.next a svg {
  order: 1
}

.covers .grid {
  transition: grid-template-columns .2s ease-in-out;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 0;
  line-height: 0
}

.covers img {
  max-width: 100%;
  height: auto
}

.covers a {
  text-decoration: none
}

.macy *+* {
  margin-top: 0
}

.macy a {
  display: block;
  text-decoration: none;
  border-radius: 6px;
  padding: .84375rem 0;
  background: var(--color-bkgd-light);
  transition: all .2s ease-in-out
}

.macy a:focus,
.macy a:hover {
  box-shadow: 0 3px 14px var(--color-border);
  transform: translate(0, -5px)
}

.macy img {
  border-radius: 6px 6px 0 0;
  max-width: 100%;
  height: auto;
  margin-top: -0.84375rem
}

.macy img.icon {
  width: 18px;
  height: auto
}

.macy h3 {
  padding: 0 .84375rem
}

.macy p {
  padding: 0 .84375rem;
  font-size: .75rem;
  line-height: 1.6;
  font-weight: 450
}

.plugs img {
  float: left;
  width: 130px;
  height: auto;
  margin-right: 1rem;
  margin-bottom: 1.6875rem
}

.bookplug p {
  margin: 0 0 0 146px
}

.year+.year {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--color-text-light)
}

@media screen and (min-width: 1000px) {
  .year {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 2fr
  }

  .year .summary .sticky {
    position: sticky;
    top: 3.4rem
  }

  .archives {
    margin-top: 0
  }
}

.archives div {
  display: flex;
  margin-top: .25rem
}

.archives div .posted {
  width: 4rem;
  white-space: nowrap;
  flex-shrink: 0
}

.archives div *+* {
  margin-top: 0;
  margin-left: 1rem
}

.org {
  text-transform: uppercase;
  letter-spacing: .1rem
}

.journal-footer {
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr))
}

.troika-cover audio {
  background-color: var(--color-text-dark)
}

audio {
  max-height: 100%;
  width: 100%;
  max-width: 60rem
}

.archives h4+h1:before,
.archives h4+h1:after {
  content: "";
  display: table;
  width: 100%;
  clear: left;
  border-bottom: 1px solid #000;
  height: 1.6875rem;
  outline: 1px solid red
}

@media only screen and (max-width: 700px) {
  nav {
    text-align: right
  }

  .menu-icon {
    display: block
  }

  .menu-icon {
    white-space: nowrap;
    cursor: pointer;
    transition: all .2s ease-in-out;
    color: var(--color-text-mid);
    margin: .5rem 0 0 0
  }

  .menu-icon svg {
    fill: currentColor
  }

  .menu-icon svg rect {
    transition: all .2s ease-in-out;
    transform-origin: center center
  }

  .menu-icon:hover,
  .menu-icon:active {
    color: var(--color-hicks)
  }

  #menu-toggle:checked~.menu-icon {
    color: var(--color-hicks)
  }

  #menu-toggle:checked~.menu-icon .bar {
    opacity: 0
  }

  #menu-toggle:checked~.menu-icon #turn1 {
    transform: rotate(45deg)
  }

  #menu-toggle:checked~.menu-icon #turn2 {
    transform: rotate(-45deg)
  }

  nav #menu-toggle:checked~ul {
    height: auto;
    max-height: 500px;
    overflow: visible;
    padding: .84375rem 0
  }

  nav ul {
    display: block;
    max-height: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
    font-size: 1.125rem;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    transition: all .2s ease-in-out
  }

  nav li+li {
    margin: .25rem 0 0 0
  }
}

@media screen and (min-width: 600px) {
  .plugs img {
    float: none;
    display: block;
    margin: 0 auto 1.6875rem auto
  }

  .plugs>div {
    text-align: center
  }

  .bookplug p {
    margin: 0
  }
}

@media screen and (min-width: 800px) {
  .plugs {
    display: block
  }

  .plugs>div {
    text-align: left
  }

  .plugs img {
    float: left;
    margin: 0 1rem 1.6875rem 0
  }

  .plugs div+div {
    margin-top: 1.6875rem
  }
}

@media screen and (min-width: 700px)and (max-width: 899px) {
  header>nav {
    margin-top: 1rem
  }

  .logo svg {
    height: 1.75rem
  }
}

@media screen and (min-width: 900px)and (min-height: 400px) {

  header,
  .inner,
  footer {
    margin: 0 auto;
    max-width: 76rem
  }

  header,
  footer {
    will-change: transform;
    pointer-events: none;
    padding: 0 0 0 2rem
  }

  header>*,
  footer>* {
    pointer-events: auto
  }

  header {
    top: 2.9rem;
    height: calc(100vh - 6rem);
    flex-direction: column;
    align-items: flex-start;
    z-index: 0;
    background: none
  }

  footer {
    position: fixed;
    z-index: 1;
    bottom: 3rem;
    left: 0;
    right: 0
  }

  footer>* {
    margin-left: 2.1rem;
    width: 8rem
  }

  .logo {
    z-index: 10;
    margin-top: 0
  }

  .logo svg {
    height: 2.25rem;
    margin-top: -3px
  }

  nav ul {
    flex-direction: column
  }

  nav a.active,
  #work a.n-work,
  #troika a.n-journal {
    opacity: 1
  }

  nav a.active:before,
  #work nav a.n-work:before,
  #troika nav a.n-journal:before {
    top: .5rem;
    left: -1rem
  }

  header>nav {
    position: fixed;
    will-change: transform;
    top: 8.75rem;
    width: 8rem;
    z-index: 1;
    margin-left: 2.1rem;
    margin-top: 0
  }

  nav li+li {
    margin-left: 0
  }

  .invert,
  .invert a {
    color: var(--color-text-invert)
  }

  .inner {
    padding: 1.6875rem 3rem 1.6875rem 15rem
  }

  header+section>.inner {
    padding-top: 3.375rem;
    margin-top: 0
  }

  .inner.top {
    padding: 1rem 6rem 0 20rem
  }
}

form.search {
  max-width: 100%
}

.search-results .macy p {
  line-height: 1.4;
  margin-top: .5rem
}

.eggs {
  display: grid;
  grid-gap: 1.6875rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr))
}

.eggs figure+figure {
  margin-top: 0
}

.eggs figcaption {
  font-weight: 700;
  margin-top: -0.5rem
}

.eggs p {
  margin-top: 0;
  text-align: center
}

#work main {
  margin-top: 0
}

#work header,
#work article,
#work footer {
  max-width: 88rem
}

#work article {
  padding: 3.375rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh
}

#work article.top {
  padding-top: 0;
  padding-bottom: 0
}

#work picture {
  flex: 1 1;
  overflow: hidden
}

#work picture img {
  object-fit: contain;
  object-position: left center;
  margin-top: 0;
  width: 100%;
  height: 100%
}

#work .description {
  max-width: 30rem;
  flex: 0 0
}

#work .description h2 a {
  text-decoration: none
}

#work .description p {
  margin-top: .84375rem
}

@media screen and (max-width: 900px) {
  #work article {
    height: calc(100vh - 3.375rem)
  }
}

.top .description {
  padding: 3rem 0 1.6875rem 0
}

.main figure {
  flex: 1 1;
  background-position: center center;
  background-size: contain
}

.top figure {
  background-position: center bottom
}

#intro h1 {
  color: #00aeb8;
  font-size: 4rem;
  letter-spacing: -0.04rem;
  line-height: .9;
  margin: 0
}

#intro h1:after {
  margin: 0;
  background: 0;
  height: 0
}

#intro h1+p {
  margin-top: .5rem;
  margin-left: .2rem;
  font-size: 1.2rem
}

@media screen and (min-width: 900px) {
  #work #intro article {
    padding-top: 3rem
  }
}

#preventepidemics {
  background-color: #4e515b
}

#preventepidemics picture img {
  object-fit: cover;
  object-position: left top
}

#resolve-map {
  background-color: #48669b
}

#resolve-map picture img {
  object-fit: cover;
  object-position: left top
}

#ihasco {
  background-color: #fff;
  background-image: url(/assets/work/ihasco/top.svg), url(/assets/work/ihasco/bottom.svg), url(/assets/work/ihasco/side-triangle.svg);
  background-position: 30% 3rem, 85% 75%, -10vw top;
  background-size: 12rem, 12rem, auto 100vh
}

#motorsport {
  background-color: #000
}

#coveragebook {
  background-color: #f6ecec;
  background-image: url(/assets/work/coveragebook/bkgd.png);
  background-position: center center;
  background-size: cover
}

#coveragebook picture img {
  object-position: center center
}

#duckduckgo {
  background-color: #008fdc
}

#duckduckgo picture img {
  object-fit: cover;
  object-position: left top
}

#ahoy {
  background-color: #fff;
  height: 200vh
}

#ahoy article {
  height: 200vh
}

#ahoy .supporting {
  padding-top: 1.6875rem
}

#spotify {
  background-color: #101010
}

#curl {
  background-color: #003b8f
}

#curl article {
  background-image: url(/assets/work/curl/curl-top.svg), url(/assets/work/curl/curl-bottom.svg);
  background-position: center top, center bottom;
  background-size: 100% auto
}

#jilt {
  background-color: #d2f3fd;
  background-image: url(/assets/work/jilt/jilt-logo-landscape.svg);
  background-size: auto 100vh
}

#jilt img {
  display: none
}

#oxvik {
  background-image: url(/assets/work/oxvik/oxvik-waves.svg);
  backgroud-size: cover;
  background-color: #1d2a4d
}

@media(max-aspect-ratio: 1/1) {
  #work #intro article {
    height: auto
  }

  #jilt {
    background-size: 150vw auto;
    background-position: 58% center
  }
}

section#about {
  padding-bottom: 5.0625rem
}

section#about,
section#contact {
  min-height: auto;
  height: auto
}

#contact {
  background-color: var(--color-contact);
  margin-top: 3.375rem
}

#about article,
#contact article {
  justify-content: flex-start;
  height: auto
}

.clients {
  display: grid;
  padding: 1.6875rem;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  overflow: hidden
}

.centered .clients {
  max-width: 100%
}

.clients>*+* {
  margin-top: 0
}

.clients img {
  max-width: 100%;
  vertical-align: middle;
  display: inline
}

@media screen and (min-width: 900px)and (min-height: 400px) {

  #work article,
  #contact .inner {
    padding: 1.6875rem 1.6875rem 3.375rem 15rem
  }

  .clients {
    display: grid;
    padding: 1.685rem;
    grid-gap: 1.685rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr))
  }
}

@media(prefers-color-scheme: dark) {
  html:not(#work) {
    --color-bkgd-light: hsl(210, 3%, 5%);
    --color-bkgd: hsl(210, 10%, 15%);
    --color-bkgd-mid: hsl(210, 18%, 25%);
    --color-text-dark: hsl(210, 0%, 100%);
    --color-text: hsl(210, 3%, 95%);
    --color-text-mid: hsl(210, 8%, 90%);
    --color-text-invert: hsl(210, 10%, 10%);
    --color-contact: hsl(210, 18%, 25%);
    --color-border: hsla(210, 20%, 95%, 0.2)
  }

  .macy a {
    background: var(--color-bkgd-mid)
  }
}

/*# sourceMappingURL=styles.css.map */